<h1>StaticPages#home</h1>
<%= link_to "Home", controller = "home" %>
<%= link_to "About moi", controller = "about_me" %>
<%= link_to "help", controller = "help" %>
<%= link_to "surprise", controller = "surprise" %>
<p>Find me in app/views/static_pages/home.html.erb</p>
